body {
    line-height: 1.2;
}

.digital-clock-wrap {
    padding: 15px;
    .dc-label {
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 20px;
    }
    .date-time {
        background: linear-gradient(45deg, black, transparent);
        width: 125px;
        text-align: center;
        padding: 35px 15px 0 15px;
        font-weight: bold;
        color: #fff;
        line-height: 25px;
        height: 125px;
        vertical-align: middle;
        border-radius: 50%;
        margin-left: 20px;
    }
}

// Form

form {
    padding: 30px;
    input {
        margin-bottom: 45px;
        width: 60%;
        height: 45px;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        &:hover {
            outline: none;
        }
    }
    .form-input {
        position: relative;
        .error {
            position: absolute;
            font-size: 16px;
            top: 50px;
        }
    }
    button {
        background-color: #000;
        padding: 10px 15px;
        border-radius: 6px;
        color: #fff;
    }
}

// EMI Calculator

.emi-wrap {
    padding: 30px;
    .emi-box {
        margin-bottom: 20px;
    }
}

// Currency converter
.curr-converter-wrap{
  padding: 15px 15px 50px 15px;
  background-color: darkblue;
  h3{
      color: #fff;
  }
  button{
    width: 100% !important;
    margin: 10px 0;
    background-color: #f7e513;
    border-color: #f7e513;
    color: #000;
}

.curr-converter{
    padding: 30px;
}

.curr-input-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
    label{
        margin-bottom: 5px;
        color: #fff;
    }
    input, select{
        height: 40px;
        padding: 10px;
        border-radius: 6px;
        outline: none;
        border: 1px solid #ccc;
        cursor: pointer;
    }
}
}

// Theme Switcher

.theme-switcher-wrap{
    button{
        margin-right: 30px;
    }
}


// Theme Switcher

.dark-cta{
    background-color: #101820FF;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    outline: 0;
    border: 0;
}

.red-cta{
    background-color: #F96167;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    outline: 0;
    border: 0;
}

.blue-cta{
    background-color: #4831D4;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    outline: 0;
    border: 0;
}