body {
 padding: 0px 5px 0 15px;
 background-color: #f3f1f1;
}

.todo_list_wrap{
  max-width: 650px;
  margin:50px auto;
}

.add_item_input input{
    padding: 10px;
    cursor: pointer;
    margin-bottom: 25px;
    width: 97%;
    border: 0;
    outline: none;
}

.add_item_input .add_item_cta{
    background: #000;
    color: #fff;
    width: 180px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.cta_wrap{
  display: flex;
  justify-content: space-between;
}

.todo_list{
  background: #fff;
    padding: 10px;
    margin: 0px 0 5px 0px;
    width: 87%;
    display: inline-block;
    border: 1px solid #ccc;
}

.todo_list:first-child{margin-top: 20px;}

.cta_delete{
  background-color: red;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}

/* modal css */

.modal-custom{
  background: #fff;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 40px 30px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 35%;
  border: 1px solid #ccc;
}

.modal-btn{
  display: flex !important;
  margin: auto;
  text-align: center;
}

/* Global css */

body{
  padding: 0;
  margin: 0;
}

main{
  margin: 0 0 40px 0;
}

header, footer{
  text-align: center;
  padding: 20px;
}

.main-wrapper{
  padding: 15px 30px;
}

button.btn.btn-info.btn-sm {
  margin: 10px 10px 10px 0;
}

.navbar-expand-lg{
  flex-wrap: wrap !important;
  justify-content: center !important;
}
